.home {
    background-image: url('header.png');
    background-size: 100vw 95vh;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.herobanner {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
}



.bannerdisplay {
    display: flex;
    flex-direction: column;
}

.screenshot {
    border: 1px solid #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    height: fit-content;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0 0 12px;
}

.bannerdisplay img {
    width: 100%;
    margin: 0;
}



.bannerdisplay .description {
    max-width: 40vw;
}

.cardhome {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2) !important;
}

.editor1display {
    padding: 100px 0;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.editor2display {
    padding: 100px 0;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer {
    width: 100vw;
}