.home {
    overflow-x: hidden;

}



.herobanner {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;

}



.bannerdisplay {

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif !important;

}

.screenshot {

    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(226, 232, 240, 0.3);
    box-shadow: rgb(0 0 0 / 30%) 0 0 12px;
    object-fit: cover;
}

.bannerdisplay img {
    width: 100%;
    margin: 0;
    object-fit: cover;
}



.bannerdisplay .description,
.screenshot {
    max-width: 40vw;
}

.cardhome {
    border-radius: 20px;
    box-shadow: (15, 23, 42, .1);
}

.editor1display {
    padding: 100px 0;
    width: 100vw;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.editor2display {
    padding: 100px 0;
    width: 100vw;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media(max-width:1100px) {

    .editor1display,
    .editor2display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bannerdisplay {
        padding: 1.5em 1em;
    }

    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .bannerdisplay .description,
    .screenshot {
        max-width: 96vw;
    }

}



footer {
    width: 100vw;
}