@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.redirecthome button {
  background-color: white !important;
}

.redirecthome button:hover {
  background-color: cornsilk;
}