.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.jsonqueryinput {
    width: 43vw !important;
}

.filedrop {
    width: 200px;
    height: 40px;
    border: 20px;
}


.Actionbtn {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: 100%;


}

.pannelWrapper {
    height: calc(100vh - 11.299999vh);
    width: 100vw;
    display: flex;
    background-color: #14b8a6;
}

.inputpanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.outputpanel {
    display: flex;
    flex-direction: column;
    flex: 1;
}



.inputbox {
    padding: 10px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 5px;
    overflow-y: scroll;
    flex: 1;
}

.outputbox {
    padding: 10px;
    font-size: 16px;
    line-height: 1.4;
    border: 1px solid green;
    border-radius: 5px;
    flex: 1;
    overflow-y: scroll;
    font-size: 16px;
}


.format-button {

    padding: 8px 5px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;

    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 135px;
    transition: all 500ms;
}

svg {
    display: inline !important;
}

.iconbtn:hover {
    background-color: turquoise !important;
}

.format-button:hover {
    background-color: white;
    color: #222;
}

.output {
    font-family: monospace;
}

.DisplayActionmsg {
    background-color: black;
    color: #14b8a6;
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

.DisplayActionmsg pre {
    box-sizing: border-box;
    height: 90%;
    max-width: 40vw !important;
    overflow-y: scroll;
    padding: 10px;

}


.sc-bcXHqe svg {
    display: none;
}

.fileuploader {
    background-color: white;
    padding: 4px;
    border-radius: 8px;
}

.sc-bcXHqe {
    background-color: white;
}

.sc-bcXHqe span {
    font-weight: 600 !important;
}